@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

.image-box{
    /* frame properties */
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    

    /* alignment */
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    
}

.image-box img{
    border-radius: 10px;
    margin-block: 50px
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }